<div class="container">
    <h2 class="text-center mt-2">All Contacts List</h2>
    <!-- <a class="btn btn-primary" routerLink="/create"><h3>+Add New Contact</h3></a> -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phno</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let contact of contacts;let indexOfelement=index;">
                <td>{{indexOfelement+1}}</td>
                <td>{{contact.contactName}}</td>
                <td>{{contact.contactEmail}}</td>
                <td>{{contact.contactNum}}</td>
                <td>
                <button type="button" class="btn btn-info" (click)="editContact(contact.contactId)">Edit</button> &nbsp; 
                <button type="button" class="btn btn-danger" (click)="deleteContact(contact.contactId)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <br>
    <div *ngIf="msg" class="font-weight-bold text-white bg-secondary text-center">
        <h6>{{msg}}</h6>
    </div>
</div>
